.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-main-color);
  margin-right: 92px;
}
.logo-link__logo-color {
  color: var(--accent-color);
}
.logo-dark-theme {
  color: var(--secondary-color);
  margin-bottom: 20px;
  display: block;
}
